In [16]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from pyod.models.knn import KNN
from pyod.utils.utility import standardizer

from sklearn.neighbors import kneighbors_graph
from collections import Counter

In [2]:
root_path="../Projectors_publication/projector_Conso_CVAE_5couches-Month_Temp_Day-L1/"
sess= tf.Session()
saver = tf.train.import_meta_graph(root_path + "tf_data.ckpt.meta")
saver.restore(sess,root_path+"tf_data.ckpt")

INFO:tensorflow:Restoring parameters from ../Projectors_publication/projector_Conso_CVAE_5couches-Month_Temp_Day-L1/tf_data.ckpt

In [3]:
tf.get_variable('Variable_4', shape=(1500, 4))
embedding = sess.run('Variable_4:0')

In [4]:
embedding.shape

(1500, 4)

In [5]:
embedding_norm = standardizer(embedding)

In [13]:
contimation_range = range(1,11,1)

o_list = []

for c in contimation_range:
    c = c/100
    print("contamination level : {}".format(c))
    clf = KNN(n_neighbors=1, contamination=c)
    outliers =np.where(clf.fit_predict(embedding_norm) != 0)[0]
    print('With the {} we obtain {} outliers'.format('KNN classifier',len(outliers)))
    o_list += list(outliers)

contamination level : 0.01
With the KNN classifier we obtain 15 outliers
contamination level : 0.02
With the KNN classifier we obtain 30 outliers
contamination level : 0.03
With the KNN classifier we obtain 45 outliers
contamination level : 0.04
With the KNN classifier we obtain 59 outliers
contamination level : 0.05
With the KNN classifier we obtain 75 outliers
contamination level : 0.06
With the KNN classifier we obtain 90 outliers
contamination level : 0.07
With the KNN classifier we obtain 105 outliers
contamination level : 0.08
With the KNN classifier we obtain 119 outliers
contamination level : 0.09
With the KNN classifier we obtain 135 outliers
contamination level : 0.1
With the KNN classifier we obtain 150 outliers

In [14]:
outliers_freq_dict=Counter(o_list)
outliers_freq_dict

Counter({5: 10,
         73: 10,
         107: 10,
         155: 10,
         230: 10,
         363: 10,
         463: 10,
         479: 10,
         528: 10,
         595: 10,
         728: 10,
         829: 10,
         877: 10,
         960: 10,
         1326: 10,
         3: 9,
         66: 9,
         94: 9,
         125: 9,
         346: 9,
         362: 9,
         436: 9,
         477: 9,
         489: 9,
         509: 9,
         596: 9,
         1092: 9,
         1099: 9,
         1458: 9,
         1463: 9,
         4: 8,
         95: 8,
         132: 8,
         292: 8,
         360: 8,
         361: 8,
         727: 8,
         861: 8,
         927: 8,
         929: 8,
         1095: 8,
         1203: 8,
         1294: 8,
         1300: 8,
         1414: 8,
         100: 7,
         133: 7,
         287: 7,
         719: 7,
         734: 7,
         868: 7,
         975: 7,
         1097: 7,
         1192: 7,
         1224: 7,
         1405: 7,
         1423: 7,
         1460: 7,
         1461: 7,
         93: 6,
         124: 6,
         309: 6,
         313: 6,
         318: 6,
         369: 6,
         683: 6,
         955: 6,
         1030: 6,
         1186: 6,
         1199: 6,
         1220: 6,
         1465: 6,
         1485: 6,
         1491: 6,
         1492: 6,
         75: 5,
         308: 5,
         327: 5,
         422: 5,
         474: 5,
         527: 5,
         563: 5,
         653: 5,
         771: 5,
         800: 5,
         854: 5,
         928: 5,
         1226: 5,
         1248: 5,
         1486: 5,
         65: 4,
         97: 4,
         213: 4,
         268: 4,
         295: 4,
         319: 4,
         435: 4,
         480: 4,
         506: 4,
         604: 4,
         660: 4,
         762: 4,
         775: 4,
         793: 4,
         1129: 4,
         219: 3,
         231: 3,
         460: 3,
         490: 3,
         505: 3,
         526: 3,
         603: 3,
         638: 3,
         674: 3,
         1037: 3,
         1045: 3,
         1073: 3,
         1217: 3,
         1234: 3,
         29: 2,
         171: 2,
         533: 2,
         591: 2,
         828: 2,
         911: 2,
         949: 2,
         1020: 2,
         1048: 2,
         1057: 2,
         1121: 2,
         1149: 2,
         1184: 2,
         1241: 2,
         1388: 2,
         1457: 2,
         289: 1,
         364: 1,
         394: 1,
         529: 1,
         735: 1,
         926: 1,
         1094: 1,
         1098: 1,
         1205: 1,
         1295: 1,
         1319: 1,
         1327: 1,
         1342: 1,
         1346: 1,
         1366: 1})

In [28]:
metadata_df = pd.read_csv(root_path + 'df_labels.tsv', sep='\t').drop(columns=['Index'])
metadata_df.head()

,Date,MaxTemperature,"""MinTemperature""",Month,WeekDay,is_WeekDay,Holiday,OddWeekday,OddHoliday,OddTemp,OddNeighbor,HD_predicted,nonWorkingDay,ToTag
0,2012-12-28 00:00:00,11.31075,7.796150,12,4,1,Day,1,0,0,0,0,NaN,0
1,2012-12-29 00:00:00,12.78590,6.266150,12,5,0,Day,1,0,0,0,0,NaN,0
2,2012-12-30 00:00:00,10.73655,6.287500,12,6,0,Day,1,0,0,0,0,NaN,0
3,2012-12-31 00:00:00,11.01060,6.020600,12,0,1,Day,0,1,0,0,0,1.0,4
4,2013-01-01 00:00:00,8.94890,4.689225,1,1,1,Holiday,0,0,0,0,2,1.0,3

In [24]:
outliers_freq_dict.keys()

dict_keys([5, 73, 107, 155, 230, 363, 463, 479, 528, 595, 728, 829, 877, 960, 1326, 3, 66, 94, 125, 346, 362, 436, 477, 489, 509, 596, 1092, 1099, 1458, 1463, 4, 95, 132, 292, 360, 361, 727, 861, 927, 929, 1095, 1203, 1294, 1300, 1414, 100, 133, 287, 719, 734, 868, 975, 1097, 1192, 1224, 1405, 1423, 1460, 1461, 93, 124, 309, 313, 318, 369, 683, 955, 1030, 1186, 1199, 1220, 1465, 1485, 1491, 1492, 75, 308, 327, 422, 474, 527, 563, 653, 771, 800, 854, 928, 1226, 1248, 1486, 65, 97, 213, 268, 295, 319, 435, 480, 506, 604, 660, 762, 775, 793, 1129, 219, 231, 460, 490, 505, 526, 603, 638, 674, 1037, 1045, 1073, 1217, 1234, 29, 171, 533, 591, 828, 911, 949, 1020, 1048, 1057, 1121, 1149, 1184, 1241, 1388, 1457, 289, 364, 394, 529, 735, 926, 1094, 1098, 1205, 1295, 1319, 1327, 1342, 1346, 1366])

In [17]:

outliers_df = pd.DataFrame(index=outliers_freq_dict.keys(), data=outliers_freq_dict.values())
outliers_df.columns = ["frequency"]
selected_indexes = outliers_df.index
outliers_df.head()

     frequency
5           10
73          10
107         10
155         10
230         10

In [18]:
# add date and manual label data
df_labels = pd.read_csv(root_path + 'df_labels.tsv', sep='\t').iloc[selected_indexes]
df_labels.head()

,Date,MaxTemperature,"""MinTemperature""",Month,WeekDay,is_WeekDay,Holiday,Index,OddWeekday,OddHoliday,OddTemp,OddNeighbor,HD_predicted,nonWorkingDay,ToTag
5,2013-01-02 00:00:00,8.48295,3.6900,1,2,1,Day,6,0,0,0,1,0,NaN,5
73,2013-03-11 00:00:00,8.51285,4.1317,3,0,1,Day,74,0,0,0,0,0,NaN,6
107,2013-04-14 00:00:00,23.10085,10.5953,4,6,0,Day,108,0,0,0,1,0,NaN,6
155,2013-06-01 00:00:00,18.27620,11.2976,6,5,0,Day,156,0,0,0,0,0,NaN,0
230,2013-08-15 00:00:00,26.57100,13.3051,8,3,1,Holiday,231,0,0,0,0,2,1.0,3

In [19]:
df_labels.loc[:,'frequency'] = outliers_df.frequency

In [20]:
df_labels.to_csv(root_path +'detected_outliers.csv')

In [82]:
# finding top 5 outliers among holidays
hd_meta_df = metadata_df[metadata_df.Holiday == 'Holiday']
embedding_hd = embedding[np.where(metadata_df.Holiday =='Holiday')[0]]

c = 10/len(embedding_hd)
clf = KNN(n_neighbors=1, contamination=c)
outliers_hd = hd_meta_df.iloc[np.where(clf.fit_predict(embedding_hd) != 0)[0]] 
print(outliers_hd)

                     Date  MaxTemperature   "MinTemperature"  Month  WeekDay  \
4     2013-01-01 00:00:00         8.94890           4.689225      1        1
124   2013-05-01 00:00:00        14.73565           9.515650      5        2
198   2013-07-14 00:00:00        28.11650          15.777300      7        6
489   2014-05-01 00:00:00        15.74070           9.966500      5        3
528   2014-06-09 00:00:00        27.56555          16.752300      6        0
673   2014-11-01 00:00:00        19.95340          10.480650     11        5
861   2015-05-08 00:00:00        18.65755          10.669800      5        4
960   2015-08-15 00:00:00        20.49595          14.025700      8        5
1220  2016-05-01 00:00:00        13.47185           3.963050      5        6
1458  2016-12-25 00:00:00        10.87205           7.709900     12        6

      is_WeekDay  Holiday  OddWeekday  OddHoliday  OddTemp  OddNeighbor  \
4              1  Holiday           0           0        0            0
124            1  Holiday           0           0        0            0
198            0  Holiday           1           1        1            0
489            1  Holiday           0           0        0            0
528            1  Holiday           0           0        0            0
673            0  Holiday           0           1        0            0
861            1  Holiday           0           1        0            0
960            0  Holiday           1           1        0            0
1220           0  Holiday           1           1        0            0
1458           0  Holiday           1           0        0            0

      HD_predicted  nonWorkingDay  ToTag
4                2            1.0      3
124              2            1.0      3
198              1            NaN      2
489              2            1.0      3
528              2            1.0      3
673              1            NaN      2
861              1            1.0      3
960              1            NaN      2
1220             1            NaN      2
1458             1            NaN      2

In [84]:
print(outliers_hd[outliers_hd.is_WeekDay ==1 ])

                    Date  MaxTemperature   "MinTemperature"  Month  WeekDay  \
4    2013-01-01 00:00:00         8.94890           4.689225      1        1
124  2013-05-01 00:00:00        14.73565           9.515650      5        2
489  2014-05-01 00:00:00        15.74070           9.966500      5        3
528  2014-06-09 00:00:00        27.56555          16.752300      6        0
861  2015-05-08 00:00:00        18.65755          10.669800      5        4

     is_WeekDay  Holiday  OddWeekday  OddHoliday  OddTemp  OddNeighbor  \
4             1  Holiday           0           0        0            0
124           1  Holiday           0           0        0            0
489           1  Holiday           0           0        0            0
528           1  Holiday           0           0        0            0
861           1  Holiday           0           1        0            0

     HD_predicted  nonWorkingDay  ToTag
4               2            1.0      3
124             2            1.0      3
489             2            1.0      3
528             2            1.0      3
861             1            1.0      3

In [76]:
# finding top 2 outliers among non working days
hd_meta_df = metadata_df[metadata_df.nonWorkingDay == 1.0]
embedding_hd = embedding[np.where(metadata_df.nonWorkingDay ==1.0)[0]]

c = 5/len(embedding_hd)
clf = KNN(n_neighbors=1, contamination=c)
outliers_hd = hd_meta_df.iloc[np.where(clf.fit_predict(embedding_hd) != 0)[0]] 
print(outliers_hd)

                     Date  MaxTemperature   "MinTemperature"  Month  WeekDay  \
124   2013-05-01 00:00:00        14.73565            9.51565      5        2
518   2014-05-30 00:00:00        19.75755           11.63430      5        4
861   2015-05-08 00:00:00        18.65755           10.66980      5        4
1217  2016-04-28 00:00:00        12.90070            3.04360      4        3
1463  2016-12-30 00:00:00         2.44930           -1.92740     12        4

      is_WeekDay  Holiday  OddWeekday  OddHoliday  OddTemp  OddNeighbor  \
124            1  Holiday           0           0        0            0
518            1      Day           1           0        0            0
861            1  Holiday           0           1        0            0
1217           1      Day           0           0        0            0
1463           1      Day           0           0        1            0

      HD_predicted  nonWorkingDay  ToTag
124              2            1.0      3
518              0            1.0      0
861              1            1.0      3
1217             0            1.0      0
1463             0            1.0      4

### sum (top_outliers.is_WeekDay)

In [90]:
# finding top 10 outliers among non working days
non_hd_meta_df = metadata_df[metadata_df.Holiday == "Day"]
embedding_non_hd = embedding[np.where(metadata_df.Holiday == "Day")[0]]

c = 10/len(embedding_non_hd)
clf = KNN(n_neighbors=1, contamination=c)
outliers_non_hd = non_hd_meta_df.iloc[np.where(clf.fit_predict(embedding_non_hd) != 0)[0]] 
print(outliers_non_hd)

                     Date  MaxTemperature   "MinTemperature"  Month  WeekDay  \
3     2012-12-31 00:00:00        11.01060            6.02060     12        0
5     2013-01-02 00:00:00         8.48295            3.69000      1        2
66    2013-03-04 00:00:00        14.33435            0.74940      3        0
73    2013-03-11 00:00:00         8.51285            4.13170      3        0
75    2013-03-13 00:00:00         3.85650           -1.95050      3        2
107   2013-04-14 00:00:00        23.10085           10.59530      4        6
361   2013-12-24 00:00:00        11.90010           10.32710     12        1
929   2015-07-15 00:00:00        29.93275           17.07940      7        2
1485  2017-01-21 00:00:00         5.60495           -4.27125      1        5
1492  2017-01-28 00:00:00         9.55885            3.87150      1        5

      is_WeekDay Holiday  OddWeekday  OddHoliday  OddTemp  OddNeighbor  \
3              1     Day           0           1        0            0
5              1     Day           0           0        0            1
66             1     Day           0           0        0            0
73             1     Day           0           0        0            0
75             1     Day           0           0        1            0
107            0     Day           0           0        0            1
361            1     Day           0           0        0            0
929            1     Day           0           0        1            0
1485           0     Day           0           0        0            0
1492           0     Day           0           0        0            0

      HD_predicted  nonWorkingDay  ToTag
3                0            1.0      4
5                0            NaN      5
66               0            NaN      6
73               0            NaN      6
75               0            NaN      6
107              0            NaN      6
361              0            NaN      4
929              0            NaN      5
1485             0            NaN      6
1492             0            NaN      6